[Unit]
Description=Trojan-Go Web Management Service
After=network.target trojan-go.service
Documentation=https://github.com/p4gefau1t/trojan-go

[Service]
Type=simple
User=root
# 赋予监听 80 端口权限
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

# 使用 web 子命令启动独立后台
ExecStart=/usr/local/bin/trojan-go web -config /etc/trojan-go/server.yaml

Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
